<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {packages: ['line']});
      google.charts.setOnLoadCallback(drawCharts);

      function drawCharts() {
        {{range .Graphs}}
        loadData({{.QueryPath}}, handleData.bind(null, {{.Id}}, {{.Title}}, {{.Units}}, {{.MinZero}}));
        {{end}}
      }

      function loadData(path, cb) {
        console.log("Requesting " + path);
        var xhr = new XMLHttpRequest();
        xhr.open('GET', path, true);
        xhr.onreadystatechange = function() {
          if (xhr.readyState == 4) {
            if (xhr.status == 200) {
              console.log("Got " + path);
              cb(xhr.responseText);
            } else {
              console.log("Got error when loading " + path + ": " + xhr.responseText);
            }
          }
        }
        xhr.send(null);
      }

      function handleData(id, title, units, minZero, data) {
        var table = new google.visualization.DataTable(data);
        var options = {
          chart: {
            title: title,
          },
          hAxis: { title: 'Time' },
          vAxis: {
            title: units,
            viewWindow: {
              min: minZero ? 0.0 : null
            }
          },
          interpolateNulls: true
        };
        var chart = new google.charts.Line(document.getElementById(id));
        chart.draw(table, google.charts.Line.convertOptions(options));
      }

    </script>
    <style>
      .graph {
        width: 600px;
        max-width: calc(100% - 20px);
        height: 400px;
        margin: 10px 10px 20px 10px;
      }
      .short {
        height: 200px;
      }
    </style>
  </head>
<body>
  {{range .Graphs}}
  <div id="{{.Id}}" class="graph{{if .Short}} short{{end}}"></div>
  {{end}}
</body>
</html>
