<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{.Title}}</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {packages: ['line']});
      google.charts.setOnLoadCallback(drawCharts);

      var configs = {};
      var MIN_SECONDS = 1800;
      var MAX_SECONDS = 86400 * 2;

      function getTime() {
        return Math.floor((new Date).getTime() / 1000);
      }

      function parseResponse(response) {
        var table = new google.visualization.DataTable(response);
        if (!table.getNumberOfRows()) {
          // The Google Chart API blows up in interesting ways if passed a
          // DataTable without any rows. Add a fake one.
          console.log("Inserting empty row");
          table.addRow();
        }
        return table;
      }

      function drawCharts() {
        var now = getTime();

        {{range .Graphs}}
        configs[{{.Id}}] = {
          path: {{.QueryPath}},
          startTime: now - {{.Seconds}},
          endTime: now,
          options: google.charts.Line.convertOptions({
            chart: {
              title: {{.Title}},
            },
            vAxis: {
              title: {{.Units}},
              viewWindow: {
                min: {{if .HasMin}}{{.Min}}{{else}}null{{end}},
                max: {{if .HasMax}}{{.Max}}{{else}}null{{end}}
              }
            },
            interpolateNulls: true
          })
        };

        loadData(configs[{{.Id}}], createChart.bind(null, {{.Id}}));
        document.getElementById('earlier-{{.Id}}').addEventListener(
            'click', updateChartTime.bind(null, {{.Id}}, -{{.Seconds}}));
        document.getElementById('later-{{.Id}}').addEventListener(
            'click', updateChartTime.bind(null, {{.Id}}, {{.Seconds}}));
        document.getElementById('less-{{.Id}}').addEventListener(
            'click', scaleChartDuration.bind(null, {{.Id}}, 0.5));
        document.getElementById('more-{{.Id}}').addEventListener(
            'click', scaleChartDuration.bind(null, {{.Id}}, 2.0));
        {{end}}
      }

      function loadData(config, cb) {
        var path = config.path + "&start=" + config.startTime + "&end=" + config.endTime;
        console.log("Requesting " + path);
        var xhr = new XMLHttpRequest();
        xhr.open('GET', path, true);
        xhr.onreadystatechange = function() {
          if (xhr.readyState == 4) {
            if (xhr.status == 200) {
              console.log("Got " + path);
              cb(xhr.responseText);
            } else {
              console.log("Got error when loading " + path + ": " + xhr.responseText);
            }
          }
        }
        xhr.send(null);
      }

      function createChart(id, data) {
        var config = configs[id];
        config.chart = new google.charts.Line(document.getElementById(id));
        config.chart.draw(parseResponse(data), config.options);
      }

      function updateChartTime(id, offsetSec) {
        var config = configs[id];
        var duration = config.endTime - config.startTime;
        var newEnd = Math.min(config.endTime + offsetSec, getTime());
        if (newEnd == config.endTime)
          return;
        config.endTime = newEnd;
        config.startTime = config.endTime - duration;

        loadData(config, function(data) {
          config.chart.draw(parseResponse(data), config.options);
        });
      }

      function scaleChartDuration(id, scale) {
        var config = configs[id];
        var oldDuration = config.endTime - config.startTime;
        var newDuration =
            Math.max(Math.min(oldDuration * scale, MAX_SECONDS), MIN_SECONDS);
        if (oldDuration == newDuration)
          return;
        config.startTime = config.endTime - newDuration;

        loadData(config, function(data) {
          config.chart.draw(parseResponse(data), config.options);
        });
      }
    </script>
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
      .chart {
        height: 300px;
        margin: 30px 10px 10px 10px;
        max-width: calc(100% - 20px);
        width: 600px;
      }
      .chart:first-of-type {
        margin-top: 10px;
      }
      .short {
        height: 200px;
      }
      .controls {
        color: #424242;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        max-width: calc(100% - 20px);
        padding-left: 40px;
        width: 400px;
      }
      .controls span {
        cursor: pointer;
      }
      .controls span:hover {
        text-decoration: underline;
      }
    </style>
  </head>
<body>
  {{range .Graphs}}
  <div id="{{.Id}}" class="chart{{if .Short}} short{{end}}"></div>
  <div class="controls">
    <span id="earlier-{{.Id}}">Earlier</span>
    <span id="later-{{.Id}}">Later</span>
    <span id="less-{{.Id}}">Less</span>
    <span id="more-{{.Id}}">More</span>
  </div>
  {{end}}
</body>
</html>
